@import "../../../../styles/variables";

.modelItem {
  padding: 1rem;
  color: $nero;
  text-decoration: none;
  width: 20rem;

  .image {
    width: 100%;
    object-fit: cover;
    height: 12rem;
  }

  .description {
    padding-top: 0.5rem;
    font-weight: bold;

    .title {
      font-size: 1rem;
    }

    .price {
      font-size: 1.4rem;
      color: #80828a;
      padding-top: 0.25rem;
    }
  }
}