@import "styles/variables";

.color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 33%;
  min-width: 6rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &:hover {
    cursor: pointer;
  }

  &:hover > .colorIcon {
    border: 1px solid $navyBlue;
  }

  .name {
    color: $nero;
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .price {
    color: $gray40;
    font-size: 0.8rem;
    padding-top: 0.25rem;
  }

  .colorIcon {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 0.25rem;
    transition: 0.5s;
    border: 1px solid transparent;

    > img {
      width: 100%;
      object-fit: cover;
    }

    &.active {
      border: 1px solid $navyBlue;
      padding: 0.15rem;
    }
  }
}
