@import "styles/variables";

.priceModelButton {
  padding: 2rem;
  margin-top: 1rem;
  background-color: $white;
  border: 1px solid $navyBlue;
  font-weight: bold;
  transition: 0.7s;

  &.active {
    color: $white;
    background-color: $navyBlue;

    &:hover {
      background: $trimActiveHoverColor;
    }

    .name {
      color: $white;
    }
  }

  &:hover {
    background-color: $trimHoverColor;
  }

  .name {
    font-size: 1rem;
    color: $navyBlue;
    text-transform: uppercase;
  }

  .price {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
}
