//todo refactor styles
@import "styles/variables";

.priceModelButton {
  padding: 2rem;
  margin-top: 1rem;
  background-color: #ffffff;
  border: 1px solid $navyBlue;
  font-weight: bold;
  transition: 0.7s;
  &.active {
    color: #ffffff;
    background-color: $navyBlue;
    &:hover {
      background-color: rgba(0,126,219,.7);
    }
    .name {
      color: #ffffff;
    }
  }

  &:hover {
    background-color: rgba(0,126,219,.1);
  }

  .name {
    font-size: 1rem;
    color: $navyBlue;
    text-transform: uppercase;
  }
  .price {
    font-size: 0.9rem;
    margin-top: 0.4rem;
  }
}