.models {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 3.2rem 1.4rem;

  &.centered {
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 1.4rem;
    margin: 0 auto 2rem;
  }
}
