$baseFont: Arial, Helvetica, sans-serif;
$light-gray: #f1f3f2;
$gray: #80828a;
$gray40: #666;
$navyBlue: #007edb;
$black: #000;
$white: #fff;
$nero: #1a1a1a;
$modelDetailsWidth: 60%;
$modelTrimWidth: 100% - $modelDetailsWidth;
