@import "src/styles/variables";

.model {
  display: flex;
  width: 100%;
  height: 100%;

  .title {
    font-size: 1.5rem;
    text-align: center;
  }

  .modelEquipment {
    width: $modelTrimWidth;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;

    .equipmentSelection {
      padding: 4rem 4rem 6rem;
    }
  }

  .navPanel {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    .checkoutButton {
      margin: 0 auto;
    }
  }
}
